* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.container {
    display: grid; /* Используем Grid для основного контейнера */
    grid-template-rows: auto 1fr; /* Заголовок занимает авто высоту, остальные элементы занимают оставшееся пространство */
    height: 100%;
}

.header {
    background-color: #d32626;
    background: radial-gradient(rgb(36, 212, 130) 10px, rgb(19, 138, 218) 30%, #6800f0 50%);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    position: sticky; /* Фиксируем заголовок при прокрутке */
    top: 0;
    z-index: 1000; /* Убедимся, что заголовок поверх других элементов */
}

.boards-container {
    display: grid; /* Используем Grid для контейнера досок */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Автоматически заполняем колонки */
    gap: 10px; /* Отступ между досками */
    padding: 10px;
    overflow-y: auto; /* Вертикальный скролл для контейнера досок */
}

.board {
    background-color: #000000a2; /* Темно-серый цвет доски */
    color: rgb(2, 255, 2);
    padding: 10px;
    border-radius: 8px; /* Скругление углов */
    height: 100%; /* Высота доски будет зависеть от содержимого */
    overflow-y: auto; /* Вертикальный скролл для доски */
}

.board h2 {
    margin-bottom: 10px;
}

.board ul {
    list-style-type: none; /* Убираем маркеры списка */
}